/vendor
/node_modules
/bower_components

/public/storage
Homestead.yaml
Homestead.json
.env

/public/css/*
!/public/css/bootstrap.min.css
!/public/css/socicon.css
!/public/css/mobirise
/public/js/*
!/public/js/social-likes.js
!/public/js/mobirise