.Contacts
    background: white
    color: #464646

    h2
        text-align: center
        margin-bottom: 80px
        color: #464646 

    &__item
        text-align: center

    &__social-list
        list-style: none
        padding: 0
        li
            display: inline-block
            border-radius: 50%
            width: 56px
            height: 56px
            margin: 0 3px
            background: black
            color: white
            font-size: 26px
            padding-top: 10px



    &__avatar
        border-radius: 50%
        width: 300px
        height: 300px
        border: 8px solid #eaeaea
        box-shadow: 0 1px 3px #969696

    &__info
        text-align: center
        margin-top: 20px

    &__name
        font-weight: bold
        font-size: 28px
        text-align: center
