.Email
    h2
        color: white
        text-align: center

    background-image: url('../img/002.jpg')
    background-size: contain
    height: 100vh

    &__overlay
        background: rgba(81, 102, 134, 0.8)
