.Service
    background: rgb(245, 245, 245)

    h2
        text-align: center
        margin-bottom: 50px
        color: #464646

.group a
    border: 1px solid #e82c3a
    color: #e82c3a


    &:hover
        background: #e82c3a
        border: 1px solid #e82c3a

